html {

}

body {
	font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	background: rgb(179, 53, 169);
	background: linear-gradient(337deg, rgba(179, 53, 169, 1) 0%, rgba(126, 38, 184, 1) 14%, rgba(116, 232, 255, 1) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	height: 100%;
}

header {
	padding: 1em;
	margin-top: 3%;
	padding-left: 5em;
	padding-right: 5em;
	background-color: #FFFFFF;
	border-bottom: 0px solid #000000;
	border-radius: 25px;
}

a {
	text-decoration: none;
}

a:link {
	color: #000000;
}

a:visited {
	color: #000000;
}

a:hover {
	color: #ABABAB;
}

h1 {
	padding-top: 0;
	margin-top: 25px;
	font-size: 58px;
	line-height: 1.0625;
	font-weight: bold;
	letter-spacing: -.00058em;
	font-family: "Playfair Black 900", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h2 {
	font-family: "Playfair Black 900", "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h3 {
	font-size: 25px;
}

p {
	font-weight: 500;
	font-size: 21px;
	line-height: 1.19048;
	letter-spacing: .00023em;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

nav ul {
	list-style-type: none;
}

nav li {
	font-weight: bold;
	display: inline;
	font-size: 20px;
}

nav a {
	text-decoration: none;
	padding: 1em;
}

#section_one {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1fr 1fr;
	margin: 5% 0 5% 0;
	height: 500px;
	border-radius: 25px;
}

#active {
	color: #AEAEAE;
}

#section_one section {
	text-align: center;
}

#section_inner_left {
	padding-right: 10px;
}

#section_inner_right {
	padding-left: 10px;
}

#article_section {
	display: grid;
	grid-template-columns: 200px 1fr;
	grid-template-rows: auto;
	width: 900px;
	margin-left: 150px;
}

#section_two {
	margin: 5%;
	padding: 30px;
	/*background-color: #EEEEEE;*/
	border-radius: 25px;
}
#mobile_book_image {
	display: none;
}

#wrapper {
	background-color: #FFFFFF;
	border-radius: 25px;
}

.footer_div {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#footer_sections,
#footer_sections_image,
#footer_sections_nav {
	background-color: #f7f7f7;
	border-radius: 25px;
	margin: 1em;
	width: 180px;
	height: 150px;
	padding: 30px;
}

#divider_img {
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	margin-bottom: 50px;
}

#footer_sections_nav ul li {
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
}

#footer_sections_nav ul li a {
	text-decoration: none;
}

#footer_sections_nav ul {
	list-style-type: none;
	text-align: center;
	padding: 0px;
	padding-top: 5px;
	margin: 0;
}

#footer_sections p {
	font-size: 20px;
	padding-top: 30px;
}

#wrapper {
	margin-left: auto; 
	margin-right: auto; 
	width: 1380px; 
	margin-bottom: 3%;
}

#inner {
	border: 5px solid #EEEEEE;
	border-radius: 25px;
	padding: 30px;
	background-color: #EEEEEE;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 400px;
}

.article_thumb {
	height: 150px;
	width: 150px;
	border-radius: 25px;
	background-color: #FFFFFF;
	margin: 25px 10px 25px 0px;
	text-align: center;
	display: grid;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
	color: #FFFFFF;
	font-size: 24px;
}

.article_text {
	padding-top: 25px;
}

.article_thumb p {
	background-color: rgba(255, 255, 255, 0.9);
	color: #000000;
	padding: 10px;
	border-radius: 15px;
	font-weight: 700;
}

.rounded {
	border-radius: 25px;
}

footer {
	font-size: 75%;
	text-align: center;
	padding: 2em;
	background-color: #FFFFFF;
	border-radius: 25px;
}

@font-face {
	font-family: 'SF Pro Text';
	src: url(SFProText-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Black 900';
	src: url(PlayfairDisplay-ExtraBold.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@media (max-width: 758px) {
	
	
}

